
# These are the defaults
# Copy this file as "data-collector.properties" to the same directory as the collector application itself is and
# uncomment the lines and change the values, if you need

# Base url to connect to, including protocol, hostname or ip address, and port
#influxUrl=http://localhost:8086

# InfluxDB Database to use for measurements
#influxDatabase=ruuvi

# InfluxDB measurement name to use for measurements
#influxMeasurement=ruuvi_measurements

# Username and password to use in influxdb. These can be ignored if you don't use authentication in InfluxDB.
#influxUser=ruuvi
#influxPassword=ruuvi

# Minimum interval in milliseconds for measurements per measurement type per tag.
# This is to avoid saving too many measurements especially with the default firmware which sends measurements every 0.5 seconds
# For example 9900 means post at most one measurement type per tag per 9.9 seconds
#measurementUpdateLimit=9900

# Storage method, currently valid values: "influxdb", "legacy_influxdb" and "dummy"
# influxdb        = Recommended and default, this stores the values to InfluxDB into a single measurement
# dummy           = Logs the measurements to the log rather than sending them anywhere, feasible for testing and development
#storage.method=influxdb


#
# Advanced configuration - Change these only if you know what you are doing
#

# Retention policy to use (note: you must create it yourself)
#influxRetentionPolicy=autogen

# Use gzip, saves bandwidth at minimal CPU cost
#influxGzip=true

# Use batch mode, improved performance at the cost of increased delay for measurements to show up. Does not affect the timestamps.
#influxBatch=true

# Maximum number of datapoints and maximum time waited in milliseconds before sending a batch. Has no effect if batch mode disabled.
#influxBatchMaxSize=2000
#influxBatchMaxTime=100

# Use to overide default IP address range
#deviceDiscoveryBaseAddress=192.168.1.
# Set the start IP range
#deviceDiscoveryStartRange=100
# Set the end IP range
#deviceDiscoveryStopRange=255
# Set the threadpoolsize for looking for devices in IP range
#deviceDiscoveryThreadPool=1